body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 90%;
}
nav.navbar{
  position: -webkit-sticky;
  position: sticky;
}
.navbar-nav{
	font-size: 17px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  ul{
  	list-style-type: none;
  }
  #Welcome{
  	margin-top: 97px;
  	margin-bottom: 40px;
  }
  .AboutSchool{
  	font-family: 'Viaoda Libre', cursive;
  	line-height: 2.0;
  	word-spacing: 10px;
  }
 #littleimg img{
 	width: 60%;
 	height: 40%;
 }
 #row2{
 	margin-top: 30px;
 }
 #littleimg2{
 	margin-top: 3px;
 	margin-left: 110px;
 	margin-bottom: 3px;
 }
 .icon{
 	margin-left: 30px;
 	margin-top: 30px;
 }
 #LastRow{
 	margin-top: 150px;
 }
 #ul{
  margin-right: 100px;
 }
 .vl{
  border-left: 3px solid green;
  height: 80px;
  margin-left: 50%;
  margin-right: 50%;
 }